.bg-image {
  /* background-image: url(../../../public/assets/background-img.jpg); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  /* background-image: url('https://i.imgur.com/lL6tQfy.png'); */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.7;
}
.main-card {
  /* position: fixed; */
  /* left: 0;
  right: 0; */
  z-index: 1;
  /* margin-left: 20px;
  margin-right: 20px; */
  /* position: relative; */

  width: 95vw;
  height: 100%;
  color: #f5f5f5;
  /* background-color: #f5f5f5; */
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
  margin-top: 70px;
  padding: 1em 2em;
  /* background-color: #6dd5ed; */
  /* color: #333; */
  font-size: 1.3em;
  background: rgb(23, 23, 23);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.766);
}

.main-card-head {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
.main-card-head h2 {
  /* color: rebeccapurple; */
  font-size: 2em;
  letter-spacing: 4px;
}

.main-card-temp {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-card-temp .current-temp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-temp img {
  width: 300px;
  height: 300px;
}
.current-temp h1 {
  /* margin: 0 10px; */
  font-size: 3em;
}

.main-card-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  /* margin-left: 10px; */
  font-size: 1.3em;
}

.main-card-desc h3 {
  padding: 10px 0;
  text-transform: uppercase;
}
.main-card-desc h4 {
  padding: 5px 0;
  text-transform: uppercase;
}

.main-card-desc-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  letter-spacing: 1.5px;
}
.variables {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  letter-spacing: 1.5px;

  background: rgba(14, 14, 14, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(81, 82, 90, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
.variable-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  letter-spacing: 1.5px;
  gap: 5px;
}

.variable-description_card-icon small {
  text-transform: capitalize;
}
